.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 70%;
    aspect-ratio: 1/0.7;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 90%;
    height: 95%;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
}

.logo img {
    width: 200px;
    height: 200px;
}


.text {
    /* background: lime; */
    width: 80%;
}

.login {
    width: 80%;
    height: 50%;
    /* background: purple; */
    display: flex;
    flex-direction: column;
}

.login input {
    outline: none;
    border: none;
    background: transparent;
    color: black;
    height: 50px;
    border-bottom: 1px solid black;
    font-size: large;
}

.login button {
    outline: none;
    border: none;
    background: #01DC82;
    color: black;
    border-radius: 120px;
    height: 50px;
    font-size: large;
    cursor: pointer;
    transition: 250ms;

}

.login h4 a {
    font-weight: 900;
    text-decoration: underline;
    color: black;
}

.login button:hover {
    background: #02bd6f;
}

.login .pass {
    text-align: right;
}

.login .pass a {
    color: black;
}

.login .pass input {
    width: 100%;
}


@media (max-width: 1800px) {

    .right {
        width: 45%;
    }

    .left {
        width: 55%;
    }
}

@media (max-width: 1400px) {
    .right img {
        width: 80%;
        aspect-ratio: 1/0.7;
    }
}


@media (max-width: 900px) {

    .right {
        display: none;
    }

    html,
    body {
        display: flex;
        justify-content: center;
    }

    .left {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .left {
        width: 100%;
    }

    .main {
        width: 100%;
    }
}