.footer {
    background-color: white;
    padding: .5rem 0;
    text-align: center;
}

.footer .flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}

.footer a {
    text-decoration: none;
    color: #333;
    display: block;
    margin: 0.5rem 0;
    transition: color 0.3s;
}

.footer a:hover {
    color: #01DC82;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer-logo img {
    width: 120px;
    transition: transform 0.3s;
    cursor: pointer;
    display: block;
}

.footer-logo img:hover {
    transform: scale(1.1);
}

.copyright {
    margin-top: 2rem;
    color: #666;
    font-size: 0.9rem;
}

@media (max-width: 380px) {
    .footer .flex {
        display: block;
        flex-grow: 1;
    }
}
